{% editable_model photos %}
<div class="row">
  <div class="col-sm-12">
    <div class="media">
        <a href="{{ photo.image.url }}"  class="display-inline"><h4 class="media-heading">{{ photo.title }}</h4></a>  
        <div>
            <a href="{{ photo.image.url }}"><img class="img-responsive" src="{{ photo.image.url }}" alt="{{ photo.title }}"></a>
        </div>
        <div class="media-body">
            <p><strong>Year:</strong> {{ photo.year }}</p>

                <span class="description-left"> {{ photo.description }} </span>
            <span>
                <ul class="list-unstyled photo-details">
                  {% if photo.camera %}<li><strong>Camera:</strong> {{ photo.camera }}   </li>
                  {% endif %}
                  {% if photo.lensifo %}<li><strong>Lens Info:</strong> {{ photo.lensinfo }}</li>
                  {% endif %}
                  {% if photo.iso %}<li><strong>ISO:</strong> {{ photo.iso }}</li>
                  {% endif %}
                  {% if photo.aperture %}<li><strong>Aperture:</strong> {{ photo.aperture }}</li>
                  {% endif %}
                  {% if photo.shutterspeed %}<li><strong>Shutter Speed:</strong> {{ photo.shutterspeed }}  </li>
                  {% endif %}
                  {% if photo.software %}<li><strong>Software:</strong> {{ photo.software }}  </li>
                  {% endif %}
                </ul>
            </span>    
          </div>
    </div>
  </div>
</div>
{% endeditable_model %}