---
title: Edcoe Charter SELPA
slug: edcoe_charter_selpa
handle: edcoe
position: 0
listed: true
published: true
is_layout: false
---
{% extends "layouts/simple" %}

{% block content/main %}
<div class="center">
<div>
<h3>EDCOE Charter SELPA</h3>
<p>EDCOE Charter SELPA is an organization that provides support, training, and guidance to charter schools in El Dorado County.  They focus on supporting school's special education programs, and had the goal of expanding their online presence.  From school administrators, to parents, to teachers and students Charter SELPA engages at every level to ensure every need is met.  This provided a unique challenge in finding ways to connect to all those different user types with a single home page.</p>
<p>We ended up coming up with a yearly business calendar that would highlight their most important business goals when they were most relevant throughout the year.  The designs here include a wide variety of options that we proposed to Charter SELPA as ways in which they could engage users online as well as explain more clearly to each user-type what it is they provide.</p>
<p>Down at the bottom you'll see some simple app proposals that we also thought might be useful for their administrators who need quick and easy access to many of Charter SELPA's documents and videos.</p>
</div>
<img class='img-responsive' src='{{ "selpa_full.png" | theme_image_url }}' / >
<img class='img-responsive' src='{{ "selpa_landings.png" | theme_image_url }}' / >
<img class='img-responsive' src='{{ "selpa_landing_full.png" | theme_image_url }}' / >
<img class='img-responsive' src='{{ "selpa_mobile_home.png" | theme_image_url }}' / >
<img class='img-responsive' src='{{ "selpa_mobile_listing.png" | theme_image_url }}' / >
{% endblock %}
</div>